<!--The content below is only a placeholder and can be replaced.-->
<div class="page">

  <div class="page-header">
    <md-toolbar class="toolbar-header">
        <md-icon (click)="sidenav.toggle()" style="color:white;cursor:pointer; margin-right: 10px;">menu</md-icon>
      <p style="color:white; margin-right: 10px; justify-content: space-between"><a md-button href="https://adrien.pessu.net">Adrien Pessu</a></p>
    </md-toolbar>
  </div>


  <div class="page-content">
      <md-sidenav-container class="bg">
          <md-sidenav #sidenav mode="side" opened="true" style="background-color: #d8dfea; width: 200px;">
              <md-list class="adrien-menu">
                  <md-list-item (click)="scroll(contact)" style="cursor:pointer;"><md-icon style="margin-right: 10px;">mail</md-icon>Contact</md-list-item>
                  <md-list-item (click)="scroll(about)" style="cursor:pointer;"><md-icon style="margin-right: 10px;">account_circle</md-icon>À propos</md-list-item>
                  <md-list-item (click)="scroll(competences)" style="cursor:pointer;"><md-icon style="margin-right: 10px;">verified_user</md-icon>Compétences</md-list-item>
                  <md-list-item (click)="scroll(experiences)" style="cursor:pointer;"><md-icon style="margin-right: 10px;">assignment</md-icon>Exprériences</md-list-item>
                  <md-list-item (click)="scroll(formations)" style="cursor:pointer;"><md-icon style="margin-right: 10px;">work</md-icon>Formations</md-list-item>
                </md-list>
          </md-sidenav>
        <div id="contact" #contact>
            <md-card class="adrien-card">
                <md-card-title class="adrien-md-title"><md-icon class="adrien-md-title-icon">mail</md-icon>Contacts</md-card-title>
                <md-card-content>
                  <div style="display: flex; align-items: center">
                    <div style="width: 30%; text-align: center;">
                      <a href="https://adrien.pessu.net"> <img src="../assets/images/adrien_02.png" class="img-circle"/></a>
                    </div>
                    <div>
                      <h4><b>EURL - Adrien Pessu</b></h4>
                      <a href="tel:0033645870828" md-button >+336 45 87 08 28</a>&nbsp;<br/>
                      <a href="mailto:a.pessu@gmail.com" md-button >a.pessu@gmail.com</a>
                    </div>
                  </div>
                  <div style="display: flex; align-items: center">
                    <div style="width: 30%;text-align: center;">
                      <a href="https://github.com/adrienpessu/" target="_BLANK"><img style="margin-left: 5px; margin-right: 5px" src="../assets/images/github.svg" height="36px"/></a>
                      <a href="https://www.linkedin.com/in/adrien-pessu/" target="_BLANK"><img style="margin-left: 5px; margin-right: 5px" src="../assets/images/linkedin.svg" height="36px"/></a>
                      <a href="https://twitter.com/adrien_pe" target="_BLANK"><img style="margin-left: 5px; margin-right: 5px" src="../assets/images/twitter.png" height="36px"/></a>
                    </div>
                    <div>
                      184, rue du Croissant <br/>
                      44300 Nantes<br/>
                      SIRET XXX XXX XXX XXXXX – APE 6202A
                    </div>
                  </div>
                </md-card-content>
            </md-card>
        </div>
        <div id="about" #about>
            <md-card class="adrien-card">
                <md-card-title class="adrien-md-title"><md-icon class="adrien-md-title-icon">account_circle</md-icon>À propos</md-card-title>
                <md-card-content>
                  <p>
                    J'aide les entreprises à définir la conception et l'architecture de leurs applications web avec de les bonnes pratiques d'organisations et d'ouillages modernes.
                  </p>
                  <br/>
                  <p>
                  J'inteviens sur des missions de développement, conception et architecture applicative.
                  </p>
                  <br/>
                  <p>
                    Contactez-moi pour plus de renseignements.
                  </p>
                </md-card-content>
            </md-card>
        </div>
      <div id="competences" #competences>
          <md-card class="adrien-card">
              <md-card-title class="adrien-md-title"><md-icon class="adrien-md-title-icon">verified_user</md-icon>Compétences</md-card-title>
              <md-card-subtitle>Développement</md-card-subtitle>
              <md-card-content>
                <ul>
                  <li class="three"><div class="comp-label">Java 8&nbsp;:</div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="three"><div class="comp-label">Spring(boot)&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Hibernate&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Dropwizard&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Mockito&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">PowerMock&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">Gatlin&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">Maven&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="three"><div class="comp-label">Gradle&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">LiquidBase&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">JaxRs&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">Scala&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="5"></md-slider></li>
                  <li class="three" mdTooltip="NgRx"><div class="comp-label">Angular&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="three"><div class="comp-label">RxJs&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three" mdTooltip="Redux"><div class="comp-label">React&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="6"></md-slider></li>
                  <li class="three" mdTooltip="Ecma6, typeScript"><div  class="comp-label">JavaScript: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three"><div class="comp-label">Polymer: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>VSC</md-card-subtitle>
              <md-card-content>
                <ul>
                  <li class="two"><div class="comp-label">Git&nbsp;:</div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="two"><div class="comp-label">GitHub&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="two"><div class="comp-label">GitLab&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="two"><div class="comp-label">BitBucket&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>CI</md-card-subtitle>
              <md-card-content>
                <ul>
                  <li class="three"><div class="comp-label">Bitbucket Pipeline&nbsp;:</div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="three"><div class="comp-label">CircleCI&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Jenkins&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>Ops</md-card-subtitle>
              <md-card-content>
                <ul>
                  <li class="three"><div class="comp-label">Script bash&nbsp;:</div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="9"></md-slider></li>
                  <li class="three"><div class="comp-label">Nginx&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Let's Encrypt&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                  <li class="three" mdTooltip="Build, run, push, deploy, compose"><div class="comp-label">Docker&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Nexus&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  <li class="three"><div class="comp-label">Rundeck&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>Base de données</md-card-subtitle>
              <md-card-content>
                <ul>
                    <li class="two"><div class="comp-label">Mongo&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="6"></md-slider></li>
                    <li class="two"><div class="comp-label">Postgres&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="two"><div class="comp-label">Oracle&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="7"></md-slider></li>
                    <li class="two"><div class="comp-label">Sql&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="8"></md-slider></li>
                  </ul>
              </md-card-content>
              <md-card-subtitle>Conception/Architecture</md-card-subtitle>
              <md-card-content>
                <ul>
                    <li class="two"><div class="comp-label">Microservices&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                    <li class="two"><div class="comp-label">Api REST&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                  </ul>
              </md-card-content>
              <md-card-subtitle>Sécurité</md-card-subtitle>
              <md-card-content>
                <ul>
                    <li class="three"><div class="comp-label">Jwt&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="9"></md-slider></li>
                    <li class="three"><div class="comp-label">OAuth&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">Zap&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="0.5" value="6"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>Applicatifs</md-card-subtitle>
              <md-card-content>
                <ul>
                    <li class="two"><div class="comp-label">RabbitMQ&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="two"><div class="comp-label">ElasticSearch&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                </ul>
              </md-card-content>
              <md-card-subtitle>Softs skills</md-card-subtitle>
              <md-card-content>
                <ul>
                    <li class="three" mdTooltip="Jug, BBL, directions"><div class="comp-label">Présentation techique&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                    <li class="three" mdTooltip="Coaching tech, bests practises"><div class="comp-label">Tech/Team Lead&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">DevOps&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                    <li class="three"><div class="comp-label">Gestion de projets&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">Chiffrage&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">Support&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">Scrum&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="7"></md-slider></li>
                    <li class="three"><div class="comp-label">KanBan&nbsp;: </div><md-slider disabled class="adrien-slider" min="1" max="10" step="1" value="8"></md-slider></li>
                </ul>
              </md-card-content>
            </md-card>
      </div>
      <div id="experiences" #experiences>
          <md-card class="adrien-card">
              <md-card-title class="adrien-md-title"><md-icon class="adrien-md-title-icon">assignment</md-icon>Expériences</md-card-title>
              <md-card-subtitle>Freelance - depuis Octobre 2017</md-card-subtitle>
              <md-card-content>
                Mission chez Keendo - Lead Dev <button md-button (click)="openDialog()">En savoir plus</button>
              </md-card-content>
              <md-card-subtitle>Lead dev - De Juillet 2015 à Septembre 2017</md-card-subtitle>
              <md-card-content>
                Developpement, architecture, lead, ... <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
              <md-card-subtitle>Ingénieur étude et développement - De Septembre 2009 à Juin 2015</md-card-subtitle>
              <md-card-content>
                Mission chez divers client - <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
          </md-card>
      </div>
      <div id="formations" #formations>
          <md-card class="adrien-card">
              <md-card-title class="adrien-md-title"><md-icon class="adrien-md-title-icon">work</md-icon>Formation</md-card-title>
              <md-card-subtitle>Formation Microservice - Octobre 2016 (1 jour)</md-card-subtitle>
              <md-card-content>
                par Zenika Nantes <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
              <md-card-subtitle>Formation ElasticSearch - Decembre 2015 (2 jour)</md-card-subtitle>
              <md-card-content>
                par Zenika Rennes <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
              <md-card-subtitle>Diplome d'ingénieur option informatique - de Septembre 2006 à Août 2009</md-card-subtitle>
              <md-card-content>
                Séjour d'étude à Bradford en Angleterre (3 mois) <br/>
                Séjour d'étude à Darmstadt en Allemange (6 mois) <br/>
                <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
              <md-card-subtitle>BTS informatique de gestion option développeur d'application - De Septembre 2004 à Juin 2006</md-card-subtitle>
              <md-card-content>
                Mission chez divers client - <button (click)="openDialog()" md-button>En savoir plus</button>
              </md-card-content>
          </md-card>
      </div>
      <div style="height: 100px;text-align: right">
        Copyright © 2017 - Adrien Pessu&nbsp;
      </div>
    </md-sidenav-container>
  </div>
</div>
